@model IEnumerable<WazooTodoMVC.Models.TodoItem>
@{
    ViewData["Title"] = "Todo App";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>List of Todos:</h1>

        @if (Model != null && Model.Any())
        {
            <ul class="list-group">
                    <ul class="list-group">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>
                                        <strong>Id:</strong> @item.Id
                                        <strong>Description:</strong> @item.Description
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span><a 
                                        asp-area="" 
                                        asp-controller="Home" 
                                        asp-action="EditTodo"
                                        asp-route-id="@item.Id"
                                        class="btn btn-link p-0">Edit</a>
                                    </span>
                                    <span>
                                        <a href="#"
                                            data-id="@item.Id"
                                            class="btn btn-link text-danger p-0 delete-link"
                                            onclick="deleteTodo(@item.Id, '@item.Description')">Delete</a>
                                    </span>
                                  </div>
                            </li>
                        }
                </ul>
            </ul>
        }
        else
        {
            <p>No todo items found!!</p>
        }
    </div>
    <div class="row mt-3">
        <div class="col-auto">
            <a class="btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="CreateTodo">
                <i class="bi bi-pencil-square"></i>  Create a Todo</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        @if(TempData["Description"] != null)
        {
            <text>
                var todoDescription = "@TempData["Description"]";
                alert("New Todo item added: " + todoDescription);
            </text>
        }
        @if (TempData["EditedTodoId"] != null)
        {
            <text>
                var editedTodoId = "@TempData["EditedTodoId"]";
                alert("Todo item with ID # " + editedTodoId + " was successfully updated.");
            </text>
        }
    </script>
}
